<nav class="header" role="navigation">
   {{#link-to 'index'}}<div class="theQ">the Q</div>{{/link-to}}
    <span class="glyphicon glyphicon-plus"></span>
</nav>

<div class="content">
    {{outlet}}
</div>

<footer>

</footer>