<nav class="header" role="navigation">
    <div class="back" {{action 'back'}}>
        <span class="glyphicon glyphicon-chevron-left"></span>
    </div>

    <div class="logo">
        {{#link-to 'parties'}}
            <div class="theQ">THE Q</div>
        {{/link-to}}
    </div>

    <div class="new">
        {{#link-to 'new'}}
            <span class="glyphicon glyphicon-plus"></span>
        {{/link-to}}
    </div>
</nav>

<div class="content">
    {{outlet}}
</div>

<footer>

</footer>