<nav class="header" role="navigation">
    <div class="back pull-left" {{action 'back'}}>
        <span class="glyphicon glyphicon-chevron-left"></span>
    </div>

    THE Q

    <div class="new pull-right">
        {{#link-to 'new'}}
            <span class="glyphicon glyphicon-plus"></span>
        {{/link-to}}
    </div>
</nav>

<div class="content">
    {{outlet}}
</div>

<footer>

</footer>