<nav class="header" role="navigation" style="text-align: center">
    <div class="theQ" href="#">the Q</div>
    <span class="glyphicon glyphicon-plus"></span>
</nav>

<div class="content">
    {{outlet}}
</div>

<footer>

</footer>