<nav class="header" role="navigation">
    {{#if back}}
        <div class="back pull-left" {{action 'back'}}>
            <span class="glyphicon glyphicon-chevron-left"></span>
        </div>
    {{/if}}
    {{#if leave}}
        <div class="leave pull-left" {{action 'leave'}}>
            Leave<br />Party
        </div>
    {{/if}}

    <span class="title">{{title}}</span>

    {{#if newParty}}
        <div class="new pull-right">
            {{#link-to 'new-party'}}
                <span class="glyphicon glyphicon-plus"></span>
            {{/link-to}}
        </div>
    {{/if}}

    {{#if newSong}}
        <div class="new pull-right">
            {{#link-to 'new-song'}}
                <span class="glyphicon glyphicon-plus"></span>
            {{/link-to}}
        </div>
    {{/if}}
</nav>

<div class="content">
    {{outlet}}
</div>