<div class="container login">
	<div class="row">
		<div class="col-lg-4 col-sm-3 col-0"></div>
		<div class="col-lg-4 col-sm-6 col-12">
			<div class="panel">
				<div class="panel-heading">
					<h1 class="panel-title text-center">welcome to *******</h1>
				</div>
				<form>
					<fieldset>
						<legend>login</legend>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" class="form-control" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" placeholder="Password">
						</div>
						<row>
							<span class="pull-left">{{#linkTo 'register'}}New to *******? Register{{/linkTo}}</span>
							<button type="submit" class="btn btn-default col-4 pull-right">Submit</button><br />
							<span class="pull-left">{{#linkTo 'forgot'}}Forgot your password?{{/linkTo}}</span>
						</row>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>