<div class="navbar">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-offset-2">
				<span class="navbar-brand">{{#linkTo 'index'}}brightr{{/linkTo}}</span>
			</div>
		</div>
	</div>
</div>	