<div class="has-tab-bar">
    <img class="song-image" src="http://prettymuchamazing.com/wp-content/uploads/2014/02/The-College-Dropout-Kanye-West.jpg" />

    <div class="description">
        <h3>Title: Jesus Walks</h3>
        <h3>Artist: Kanye West</h3>
        <h4>Album: College Dropout</h4>
    </div>
</div>

{{render "tab-bar"}}