<div class="has-tab-bar">
    <img class="song-image" src="http://prettymuchamazing.com/wp-content/uploads/2014/02/The-College-Dropout-Kanye-West.jpg" />

    <div class="description container">
        <div>Jesus Walks</div>
        <div>Kanye West</div>
        <div>College Dropout</div>
    </div>
</div>

{{render "tab-bar"}}