<div class="parties">
    <div class="party">
        {{#link-to "party"}}Party 1{{/link-to}}
    </div>
    <div class="party">
        {{#link-to "party"}}Party 2{{/link-to}}
    </div>
    <div class="party">
        {{#link-to "party"}}Party 3{{/link-to}}
    </div>
    <div class="party">
        {{#link-to "party"}}Party 4{{/link-to}}
    </div>
</div>