<div class="parties">
    <!--<div class="nearest">-->
        <!--<div class="container">-->
            <!--<h3>Nearest Parties:</h3>-->
        <!--</div>-->
    <!--</div>-->
    <ul class="party-list">
        {{#each model}}
            <li id="{{partyIndex}}">
                {{#link-to 'party' this class="party"}}
                    <h3 class="pull-left">{{name}}</h3>
                    <table class="info pull-right">
                        <tr>
                            <td class="title">Number of partiers:</td>
                            <td class="number">{{numPeople}}</td>
                        </tr>
                        <tr>
                            <td class="title">Number of songs in Q:</td>
                            <td class="number">{{numSongs}}</td>
                        </tr>
                    </table>
                {{/link-to}}
            </li>
        {{/each}}
    </ul>

</div>