<div class="container login">
	<div class="row">
		<div class="col-lg-4 col-sm-3 col-0"></div>
		<div class="col-lg-4 col-sm-6 col-12">
			<div class="panel">
				<div class="panel-heading">
					<h1 class="panel-title text-center">create an account</h1>
				</div>
				<form>
					<fieldset>
						<legend>register for ********</legend>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" class="form-control" placeholder="Email">
						</div>
						<div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" placeholder="Password">
						</div>
						<div class="form-group">
							<label for="repeat-password">Repeat Password</label>
							<input type="password" class="form-control" placeholder="Repeat Password">
						</div>
						<row>
							<span class="pull-left">{{#linkTo 'login'}}Already have an account? Login{{/linkTo}}</span>
							<button type="submit" class="btn btn-default col-4 pull-right">Submit</button><br />
						</row>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>